/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

h0 {
  font-size: 48px;
  color: #333333;
  margin: 30px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h0a {
  font-size: 50px;
  color: #333333;
  margin: 30px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.custom-image {
  border-radius: 48px;
  /* border: 1px solid #000; */
  width: 100%;
  margin: 15px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-image.center {
  align-self: center;
}

.custom-menu-container {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color:#ffb703ff;
  min-width: 300px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  margin: auto;
}

.custom-menu-container2 {
  z-index: 2;
  position: relative;
  width: 100%;
  background-color:#ffb703ff;
  min-width: 300px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  margin: auto;
}


.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

.custom-dropdown2 {
  position: relative;
  display: block;
  cursor: pointer;
  width: fit-content;

  margin-right: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 
}

.custom-dropdown2>a {
  padding: 5px 26px 5px 8px;
  outline: none;
  border-radius: 48px;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  color: black;
  height: 28px;
  border: 1px solid #7d7d7d;
  background-color: white;
  width: 100%;
  cursor: pointer;
  transition: all .5s;
}


.custom-dropdown2.large>a {
  height: 37px;
  padding: 5px 31px 5px 10px;
}


.custom-dropdown2>a>span {
  text-align: left;
  font-size: 14px !important;

  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.custom-dropdown2.large>a>span {
  font-size: 18px !important;
  line-height: 25px;
}



.custom-dropdown2>a:after {
  position: absolute;
  content:"";
  top: 13px;
  right: 10px;
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-top-color: black;
}

.custom-dropdown2.large>a:after {
  top: 17px;
  right: 13px;
  
  content:"";
  border: 7px solid transparent;
  border-radius: 4px;
  border-top-color: black;
 
}


.custom-dropdown2>div {
  display: none;
  position: absolute;
  margin-top: -36px;
  border: 1px solid #7d7d7d;
  background-color: white;
  z-index: -1;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  min-width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;
}

.custom-dropdown2>a:focus {
  pointer-events: none;



}
.custom-dropdown2>a:focus:after {
  pointer-events: none;
    top: 10px;
  right: 13px;
 
  transform: rotate(180deg);

}


.custom-dropdown2>a:focus+div {
  
  display: block;
 
}

.custom-dropdown2>div:hover {
  display: block;
}

.custom-dropdown2>div>a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  text-align: left;
  display: block;
  outline: none;
  font-size: 14px !important;
  line-height: 16px;
  height: 26px;
  white-space: nowrap;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.custom-dropdown2.large>div>a {
  font-size: 16px !important;
  line-height: 25px;
  height: 35px;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}



.custom-dropdown2>div>a:hover {
  background-color: #e1e1e1;
  color: black;
  cursor: pointer;
  
}


.custom-dropdown2>div.force-hide {
  display: none !important;
}


#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}

.custom-banner {
  position: relative;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: auto;
  background-color: #fb8500ff;
  display: flex;
}
.custom-banner .banner-table {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  align-self: flex-end;
}

.custom-banner .banner-table a {
  color: #a3cfff;
  text-decoration: none;
}

.custom-banner .banner-table a:hover {
  text-decoration: underline;
}

.custom-banner h0,
.custom-banner h1,
.custom-banner h2,
.custom-banner h3,
.custom-banner p,
.custom-banner span {
  color: white;
}

.custom-banner .flex-item {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 30px;
}

.custom-banner2 {
  position: relative;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: auto;
  background-color: #219ebcff;
  display: flex;
}
.custom-banner2 .banner-table {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  align-self: flex-end;
}

.custom-banner2 .banner-table a {
  color: #a3cfff;
  text-decoration: none;
}

.custom-banner2 .banner-table a:hover {
  text-decoration: underline;
}

.custom-banner2 h0,
.custom-banner2 h1,
.custom-banner2 h2,
.custom-banner2 h3,
.custom-banner2 p,
.custom-banner2 span {
  color: white;
}

.custom-banner2 .flex-item {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 30px;
}

.custom-button-flat2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
  text-decoration: none;
  color: black;
  border: 1px solid #777777;
  hover: 1px solid #777777;
  background-color: #CCCCCC;
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer-bar {
  background-color: transparent;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 0px 20px;
}

.footer-item2 {
  display: flex;
  align-items: center;
  box-sizing: border-box;

}

.footer-item1 {
  align-items: center;
  display: inline-block;
  box-sizing: border-box;

}

.container-team{
  width: 430px;
  height: 100%;
  background: transparent;
  display: flex;
  align-items:start;
  justify-content: center;
  margin-bottom: 25px;
}

.gallery1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-team{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-box0{
  width: 430px;
  height:270px;
  margin:  20px 5px;
  border: 1px solid #000;
  border-radius: 48px;
  background: url(images/aerial.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img-box-ls1{
  width: 130px;
  height:130px;
  margin:  20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/rendi.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}

.img-box-kopi{
  width: 300px;
  height:300px;
  margin:  auto;

  border-radius: 9999px;
  background: url(images/kopi.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}

.img-box-ls1:nth-child(2){
  background: url(images/sahmi.png);
  background-size: cover;
  background-position: center;
}

.img-box-ls2{
  width: 130px;
  height:130px;
  margin:  20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/saidah.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}
.img-box-ls2:nth-child(2){
  background: url(images/bondan2.png);
  background-size: cover;
  background-position: center;
}

.img-box-tra1{
  width: 130px;
  height:130px;
  margin:  20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/sugiri.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}
.img-box-tra1:nth-child(2){
  background: url(images/budi.png);
  background-size: cover;
  background-position: center;
}

.img-box-tra2{
  width: 130px;
  height:130px;
  margin:  20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/warni.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}
.img-box-tra2:nth-child(2){
  background: url(images/bondan2.png);
  background-size: cover;
  background-position: center;
}

.img-box-trb1{
  width: 130px;
  height:130px;
  margin:  20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/agus.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}
.img-box-trb1:nth-child(2){
  background: url(images/yusup.png);
  background-size: cover;
  background-position: center;
}

.img-box-trb2{
  width: 130px;
  height:130px;
  margin:  20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/basori.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}
.img-box-trb2:nth-child(2){
  background: url(images/bondan2.png);
  background-size: cover;
  background-position: center;
}

.img-box-trc1{
  width: 130px;
  height:130px;
  margin:  20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/rifai.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}
.img-box-trc1:nth-child(2){
  background: url(images/ruslani.png);
  background-size: cover;
  background-position: center;
}

.img-box-trc2{
  width: 130px;
  height:130px;
  margin:  20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/sutrisno.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}
.img-box-trc2:nth-child(2){
  background: url(images/bondan2.png);
  background-size: cover;
  background-position: center;
}

.img-box1{
  width: 130px;
  height:130px;
  margin:  20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/avatar1.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}
.img-box1:nth-child(2){
  background: url(images/avatar2.png);
  background-size: cover;
  background-position: center;
}
.img-box2{
  width: 130px;
  height:130px;
  margin: 20px 10px;
  border: 1px solid #000;
  border-radius: 9999px;
  background: url(images/avatar3.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}

.img-box2:nth-child(2){
  background: url(images/avatar4.png);
  background-size: cover;
  background-position: center;
}

.img-box3{
  width: 100px;
  height:100px;
  margin: 10px;


  background: url(images/mitra1.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}

.img-box3:nth-child(2){
  background: url(images/mitra2.webp);
  background-size: cover;
  background-position: center;
}
.img-box3:nth-child(3){
  background: url(images/mitra3.webp);
  background-size: cover;
  background-position: center;
}
.img-box3:nth-child(4){
  background: url(images/mitra4.webp);
  background-size: cover;
  background-position: center;
}
.img-box3:nth-child(5){
  background: url(images/mitra5.webp);
  background-size: cover;
  background-position: center;
}
.img-box3:nth-child(6){
  background: url(images/mitra6.webp);
  background-size: cover;
  background-position: center;
}
.img-box3:nth-child(7){
  background: url(images/mitra7.webp);
  background-size: cover;
  background-position: center;
}

.img-box-agro{
  width: 150px;
  height:150px;
  margin: 10px;


  background: url(images/durian.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}

.img-box-agro:nth-child(2){
  background: url(images/pala.webp);
  background-size: cover;
  background-position: center;
}
.img-box-agro:nth-child(3){
  background: url(images/jengkol.webp);
  background-size: cover;
  background-position: center;
}
.img-box-agro:nth-child(4){
  background: url(images/kakao.webp);
  background-size: cover;
  background-position: center;
}
.img-box-agro:nth-child(5){
  background: url(images/pisang.webp);
  background-size: cover;
  background-position: center;
}


.img-box4{
  width: 300px;
  height:0px;
  margin: 0px;
  background: url(images/globe.gif);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}

.img-box5{
  width: 300px;
  height:300px;
  margin: 0px;
  background: url(images/maps.gif);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}
.img-box6{
  width: 300px;
  height:300px;
  margin: 0px;
  background: url(images/insight.gif);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform .2s;
}

.img-box-agro>p{
  justify-items: center;
  text-align: center;

  font-size: 11px;
  position: absolute;
  margin-bottom: 2px;
  left: 50px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}

.img-box-ls1>p{
  justify-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  margin-bottom: 2px;
  left: 40px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}
.img-box-ls2>p{
  justify-items: center;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  margin-bottom: 2px;
  left: 35px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}

.img-box-tra1>p{
  justify-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  margin-bottom: 2px;
  left: 40px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}
.img-box-tra2>p{
  justify-items: center;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  margin-bottom: 2px;
  left: 35px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}

.img-box-trb1>p{
  justify-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  margin-bottom: 2px;
  left: 40px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}
.img-box-trb2>p{
  justify-items: center;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  margin-bottom: 2px;
  left: 35px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}

.img-box-trc1>p{
  justify-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  margin-bottom: 2px;
  left: 40px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}
.img-box-trc2>p{
  justify-items: center;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  margin-bottom: 2px;
  left: 35px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}

.img-box1>p{
  justify-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  margin-bottom: 2px;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}
.img-box2>p{
  justify-items: center;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  margin-bottom: 2px;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0s;
}
.img-box3>h3{
  justify-items: center;
  text-align: center;
  font-size: small;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 20px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}
.img-box0:hover{
  cursor: pointer;
  background-color: #e1e1e1;
}

.img-box-kopi:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}

.img-box-ls1:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}
.img-box-ls2:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}

.img-box-tra1:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}
.img-box-tra2:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}

.img-box-trb1:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}
.img-box-trb2:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}

.img-box-trc1:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}
.img-box-trc2:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}

.img-box1:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}
.img-box2:hover{
  cursor: pointer;
  background-color: #e1e1e1;
  transform: scale(1.2);
}
.img-box3:hover{
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.5);
}
.img-box-agro:hover{
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.3);
}
.img-box4:hover{
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.2);
}

.img-box5:hover{
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.2);
}
.img-box6:hover{
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.2);
}

.img-box-agro:hover p{
  opacity: 100;
  bottom: -15px;
}

.img-box-ls1:hover p{
  opacity: 100;
  bottom: -20px;
}
.img-box-ls2:hover p{
  opacity: 100;
  bottom: -20px;
}

.img-box-tra1:hover p{
  opacity: 100;
  bottom: -20px;
}
.img-box-tra2:hover p{
  opacity: 100;
  bottom: -20px;
}

.img-box-trb1:hover p{
  opacity: 100;
  bottom: -20px;
}
.img-box-trb2:hover p{
  opacity: 100;
  bottom: -20px;
}

.img-box-trc1:hover p{
  opacity: 100;
  bottom: -20px;
}
.img-box-trc2:hover p{
  opacity: 100;
  bottom: -20px;
}

.img-box1:hover p{
  opacity: 100;
  bottom: -20px;
}
.img-box2:hover p{
  opacity: 100;
  bottom: -20px;
}
.img-box3:hover h3{
  opacity: 100;
  bottom: -20px;
}
.img-box4:hover h3{
  opacity: 100;
  bottom: -20px;
}
.img-box5:hover h3{
  opacity: 100;
  bottom: -20px;
}
.img-box6:hover h3{
  opacity: 100;
  bottom: -20px;
}

.bg-workflow{
  position: relative;
  max-width: 900px;
}

.workflow{

  padding: 10px 0px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0%{
  opacity: 1;
  transform: translate(-30px);
  }
  100%{
  opacity: 1;
  transform: translate(0px);
  }
}
.workflow:nth-child(2){
  animation-delay: 1s;
}
.workflow:nth-child(3){
  animation-delay: 2s;
}
.workflow:nth-child(4){
  animation-delay: 3s;
}
.workflow:nth-child(5){
  animation-delay: 4s;
}
.workflow:nth-child(6){
  animation-delay: 5s;
}
.workflow:nth-child(7){
  animation-delay: 6s;
}
.workflow:nth-child(8){
  animation-delay: 7s;
}
.workflow:nth-child(9){
  animation-delay: 8s;
}
.workflow:nth-child(10){
  animation-delay: 9s;
}
.workflow:nth-child(11){
  animation-delay: 10s;
}


.text-box{
 
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.text-box2{
 
  padding: 20px 30px;
  background: rgba(134, 134, 134, 0.3);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left-workflow{
  left: 0;
}
.right-workflow{
  left: 50%;
}
.workflow img{
  position: absolute;
  width: 40px;
  /* border-radius: 50%; */
  right: -20px;
  top: 20px;
  z-index: 10;
}
.right-workflow img{
  left: -20px;
}

.bg-workflow::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #376a64;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 10s linear forwards;
}
@keyframes moveline {
  0%{
  height: 0;
  }
  100%{
  height: 100%;
  }
}

.text-box h2{
  font-weight: 600;
}
.text-box2 h2{
  font-weight: 600;
  
}
.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}
/* .left-workflow-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(0, 0, 0, 0.3);
  right: -15px;
}
.right-workflow-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgba(0, 0, 0, 0.3);
  left: -15px;
} */

@media screen and (max-width: 400px){
  .bg-workflow{
    
  }
  .bg-workflow::after{
      left: 0px;
  }
  .workflow{
      width: 100%;
     
     
  }
  .text-box{
      font-size: 13px;
      padding-left: 50px;
  }
  .text-box2{
    font-size: 13px;
    padding-left: 50px;
}
  .text-box small{
      margin-bottom: 10px;
  }
  .right-workflow{
      left: 0;
  }
  .left-workflow img, .right-workflow img{
      left: 0px;
  }
  /* .left-workflow-arrow, .right-workflow-arrow{
      border-right: 15px solid rgba(0, 0, 0, 0.3);
      border-left: 0px;
      left: -15px;
  } */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
  top: 4px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;

}

.slider:before {
  position: absolute;
  content: "";
  height:10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider2.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

